* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: rgb(16, 163, 119);
}

header h1 {
    color: white;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}