* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:white;
    background-color:rgb(21, 52, 109);
    font-family:Arial, Helvetica, sans-serif;
}

/* header section */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: rgb(16, 163, 119);
    position: sticky;
    top: 0;
    font-style: italic;
    z-index: 9999;
}

header h1 {
    color: white;
}

header a {
    text-decoration: none;
    color:white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}
    header nav ul li a:hover {
        background: orange;
        color: blue;
        border-radius: 15px;
    }
/* header end */

/* about me section */
.about {
    display: block;
    position: relative;
    flex-wrap: wrap;
    margin: 15px;
    padding: 50px;
    border: 3px dashed orange;
    text-shadow: 0 0 35px rgba(0,0,0,1);
}
    .about::after {
        content:"";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-image: url(./images/spacebear.JPG);
        background-size: cover;
        background-position: 25% 28%;
        background-attachment:fixed;
        opacity: 0.7;
        z-index: 1;
    }

.about h2 {
    font-size: 38px;
    font-style: italic;
    color: orange; 
    z-index: 100;
    position: relative;
}


.about article {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    position: relative;
    z-index: 100;
}

/* about me end */

/* work sample section */
.work-samples { 
    border: 3px dashed orange;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative; 
    z-index: 100;
}
    .work-samples::after{
        content:"";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-image: url(./images/spacebear.JPG);
        background-size: cover;
        background-position: 25% 28%;
        background-attachment:fixed;
        opacity: 0.7;
        z-index: 1;
    }

.work-samples h2 {
    font-size: 38px;
    font-style: italic;
    color: orange;
    width: 100;
    position: relative; 
    z-index: 100;

}
.primary-sample {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 3px solid orange;
    border-radius: 15px;
    position: relative;
    z-index: 100;
}
    .primary-sample img:hover, .secondary-sample img:hover {
        opacity: 0.7;
    }

.secondary-sample {
    display: flex; 
    flex-wrap: wrap;
    width: 700px;
    border: 3px solid orange;
    margin: 15px 0;
    justify-content: space-around;
    border-radius: 15px;
    position: relative;
    z-index: 100;
}

.secondary-sample img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
/* work sample end */

/* contact section */
.contact {
    margin: 15px;
    padding: 15px;
    border: 3px dashed orange;
    display: block;
    position: relative;
    z-index: 100;
}
    .contact::after {
        content:"";
        content:"";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-image:url(./images/spacebear.JPG);
        background-size:cover;
        background-position: 25% 28%;
        background-attachment: fixed;
        opacity: 0.7;
        z-index: 1;
    }

.contact h2 {
    font-size: 38px;
    color: orange;
    font-style: italic;
    position: relative;
    z-index: 100;
    
}
.contact address {
    font-weight: bolder;
    line-height: 2;
    position: relative;
    z-index: 100;
}

.contact a{
    color: white;
}

/* footer section */
footer {
    padding: 10px 25px;
    margin: 5px;
    font-style: italic;
    font-weight: lighter;
}
/* footer end */